*{
	margin: 0;
	padding: 0;
}
body{
	 font-family: 'Nunito', sans-serif;

}
header.main_header nav.navbar.navbar-default {
    background: transparent;
    border: 0;
    margin-bottom: 0;
    font-family: 'Nunito', sans-serif;
}
.default_mobile{
	background-color: #ffffff;
}
.navbar-header {
    width: 20%;
}
.navbar-brand {
    padding: 15px 0px;
}
/*.navbar-nav {
    margin: 4px;
 }*/
ul.nav.navbar-nav {
    width: 80%;
    text-align: right;
    margin-left:9px;
}
ul.nav.navbar-nav li {
    float: none;
    display: inline-block;
}
/*.navbar-nav {
    float: left;
    margin-left: 40px;
}*/
.mynav{
	margin-left: 83px;
}
.navbar-nav>li>a {
    padding-top: 2px;
    padding-bottom: 15px;
}
.nav>li>a {
    padding: 10px 20px;
}
ul.nav.navbar-nav li {

    vertical-align: top;
    padding-top: 17px;
}
.container {
    width: 100%;
    max-width: 1468px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 25px;
    padding-top: 20px;
}
.phone{
	margin-top: -10px;
	margin-left: 0px;

}
.phone1{
	margin-top: 12px;
	margin-right: -2px;
}
.call{
	float: left;
	opacity: 20%;
}
.contact{
	color: #225594;
	float: right;
}
.login_button{
	color: #225594;
	border: 1px solid #0ce0ff;
	border-radius: 5%;
	background-color: #ffffff;
	padding: 7px 20px 7px 20px;
	font-weight: 900;
}
.admin{
	opacity: 20%;
}
.top-searchbar-section{
	background-image: url(../images/doctor.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: #fff;
	text-align: center;
	padding-top: 200px;
	padding-bottom: 200px;
}
#location_width {
    width: 200px;
}
#skill_width{
	width: 446px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.search-field{
	height: 50px;
	padding: 10px;
}
.btn-primary {
    background-color: #003b84;
}
.header-button{
    padding: 14px 38px;
 }
.form-control {
    height: 49px;
 }
.form-inline{
	background: rgb(255,255,255,0.5);
	padding-top:20px;
	padding-bottom: 20px;
	border-radius: 5px;
	color: #e9e9e9;
	max-width: 82%;
    margin-left: 136px;
}
.detect_icon {
    position: absolute;
    margin-left: 108px;
    margin-top: -36px;
    opacity: 40%;
}
.heading{
	margin-bottom: 50px;
}
.detect_text{
	color: #111010;
    margin-top: -19px;
    margin-right: -73px;
    position: relative;
}
.search_icon {
    position: absolute;
    margin-left: 4px;
    margin-top: -44px;
    opacity: 40%;
}
.form-inline {

    max-width: 72%;
    margin-left: 171px;
}
.form-inline .form-control {
    margin-right: 21px;
}
.row{
	margin-top: 70px;
}
.help-section1{
    padding-top: 25px;
	box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0,0.19);
	height: 150px;
	line-height: 0.428571;

}
.help-section2{
    padding-top: 25px;
	box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0,0.19);
	height: 150px;
	line-height: 0.428571;

}
.help-section3{
    padding-top: 25px;
	box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0,0.19);
	height: 150px;
	line-height: 0.428571;

}
.appointment_icon{
	float: left;
	max-width:40%; 
	padding-left: 23px;
}
.appointment_text{
	float: left;
	max-width:60%;
	margin-left: 50px;
}
.doctors_section1{
	margin-top: 20px;
	box-shadow:0 0 1px 0;
}
.doctors_section2{
	margin-top: 20px;
	box-shadow:0 0 1px 0;
}
.doctors_section3{
	margin-top: 20px;
	box-shadow:0 0 1px 0;
}
.doctors_section4{
	margin-top: 20px;
	box-shadow:0 0 1px 0;
}

.doctor_appointment{
	text-align: center;
}
.book{
	font-weight: 900;
}
.book_content{

}
.sofia{
	font-weight: 900;
}
.doctor_content{
	padding: 15px;
}
.describe{
	list-style: none;
}
.describe li{
	line-height: 25px;
}
.rating{
	padding-top: 20px;
		color: #ffc107;
}
.rating-text{
	color: #000;
	font-weight: 900;
	padding-left: 10px;
}
.description{
	margin-left: 11px;
}
.descript{
	margin-left: 8px;
}
.coins{
	max-width: 10px;
}
.book_btn{
	margin-left: 41px;
	background-color: #003b84;
	color: #fff;
	padding: 5px 9px;
	border: none;
}
.specialist-mainhead{
	text-align: center;
	font-weight: 900;
}
.specialist_heading{
	margin-top: 40px;
}
.specialist-column{
	width: 14.2854%;
	
}
.specialist-column7{
	width: 14.2854%;
	
}
.specialist_content{
	text-align: center;
}
.specialist_text{
	text-align: center;
	font-weight: 900;
}
.specialist-text{
	font-weight: 900;
}
.specialist_heading{
	background-color: #f9f9f9;

}
.clinic_feature{
	background-color: #054799;
	padding-bottom: 60px;
	padding-top: 60px;
}
.clinic-mainhead{
	font-weight: 900;
}
.clinic-heading{
	color: #ffff;
	text-align: center;
	padding-bottom: 20px;
}
.clinic_image{
	background-color: #fff;
}
.clinic_text{
	color: #003b84;
	padding: 10px;
	font-weight: bold;
}
.arrow{
	position: absolute;
	padding-top: 54px;
	padding-left: 145px;
}
.blog_heading{
	text-align: center;
	padding-bottom: 20px;
}
.bloghead-text{
	font-weight: bold;
}
.blog_text{
	margin-top: 25px;
}
.text-head{
	font-weight: bold;
}
.user-heading{
	text-align: center;
	padding-bottom: 20px;
}
.userhead-text{
	font-weight: bold;
}
.test-head{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0,0.19);
	padding: 36px;
	background-color: #edf9ff;
}
.test-icon{
	padding-bottom: 20px;
}
.test-image{
	padding-top: 20px;
	float: left;
}
.roy{
	font-weight: bold;
}
.test-text{
	padding-top: 40px;
}
.main-footer{
	background-color: #054799;
	margin-top: 100px;
	padding-bottom: 40px;
}
.footer-section1{
	padding-top: 10px;
}
.footer-logo1{
	float: left;
	max-width: 30%;
	padding-top: 14px;
	opacity: 40%;
}
.footer-text1{
	float: right;
	max-width: 70%;
	color: #ffffff;
}
.footer-logo2{
	float: left;
	max-width: 25%;
	padding-top: 12px;
	opacity: 40%;
}
.footer-text2{
	float: right;
	max-width: 75%;
	color: #ffffff;
}
.footer-company{
	list-style: none;
	color: #ffffff;
	float: left;
	line-height: 2.5;
}
.footer-company2{
	list-style: none;
	color: #ffffff;
	float: right;
	line-height: 2.5;
}
.footer-company3{
	list-style: none;
	color: #ffffff;
	float: right;
	line-height: 2.5;
}
.footer-company4{
	list-style: none;
	color: #ffffff;
	float: right;
	line-height: 2.5;
}
.footer-company5{
	list-style: none;
	color: #ffffff;
	float: right;
	line-height: 2.5;
}
.last-footer{
	text-align: center;
	color: #ffffff;
	background-color: #01397e;
	padding: 30px 30px;
}